.product-carousel{
    position: relative;
    overflow: hidden;
    /* padding: 26px; */
}

.product-container{
    padding:5rem 5rem;
    display: flex;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

.pre-btn, .next-btn{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    width: 60px;
    height:100%;
   background-color: transparent;
}
.next-btn{
    right:0;
}
.next-btn p, .pre-btn p{
    font-size:30px;
    color:white;
    background-color: #CE76A6;
    width:2rem;
    border-radius: 50%;
}