#root{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    background-image: url(./assets/image/Group\ 5.svg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
