#root{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    background-image: url(./assets/image/Group\ 5.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  @media only screen and (min-width : 768px) and (max-width : 1024px){
    #root{
      width: 100%;
      font-family: 'Poppins', sans-serif;
      background-color: #ffffff;
      background-image: url(./assets/image/tab.png);
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  @media only screen and (max-width:768px){
    #root{
      width: 100%;
      font-family: 'Poppins', sans-serif;
      background-color: #ffffff;
      background-image: url(./assets/image/Group\ 6.png);
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }